<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.ManagerDao">
    <resultMap id="mgr" type="Manager">
        <id column="m_id" property="mId"/>
        <result column="m_name" property="mName" />
        <result column="m_salt" property="mSalt" />
        <result column="m_status" property="mStatus" />
        <result column="m_password" property="mPassword" />
    </resultMap>
    <select id="selectManagerByName" resultMap="mgr">
        select * from t_manager where m_name=#{mName}
    </select>
</mapper>
